.modal {
    position: fixed;
    height: 100%;
    background-color: red;
    padding: 1rem;
    width: 100%;
    top: 0;
    right: 0;
    color: black;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}